
$shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12)
$shadow-hover: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15)

html
	position: relative
	height: 100% 
	min-height: 100%

body
	position: relative 
	min-width: 320px
	width: 100% 
	font-family: Arial, Helvetica, sans-serif
	letter-spacing: normal
	background-color: #ebebeb
	text-rendering: auto
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale
	height: 100% 
	min-height: 100%

#app
	position: relative 
	
	width: 100% 
	
	height: 100% 
	min-height: 100%
	
.clear:before, 
.clear:after
	display: table
	content: ""

.clear:after
	clear: both	

.login	
	position: relative 
	display: table
	
	width: 100% 
	min-width: 320px
	
	height: 100% 
	min-height: 100%
	
	.login-cell
		position: relative 
		display: table-cell

		width: 100%
		height: 100%

		vertical-align: middle

		text-align: center

		padding: 16px
	
		.login-box	
			position: relative 
			display: inline-block
			
			background-color: #ffffff
			
			vertical-align: top
			
			padding: 36px 20px 42px
			
			width: 100%
			max-width: 360px
			
			border-radius: 4px
			box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
			
			.login-img			
				position: relative 
				display: inline-block
				
				width: 140px
				height: 160px
				
				margin-bottom: 8px
				
			.login-title
				position: relative 
				display: block
				margin-bottom: 16px
				
				h1
					position: relative 
					display: block
					margin-bottom: 0
					
					span
						color: #ff0e49
				
			.login-form.ant-form
				position: relative 
				display: block
			
				.ant-row.ant-form-item
					margin-bottom: 16px
					
					.ant-form-item-label
						text-align: left
						line-height: 32px
						
						label
							line-height: 32px
							
					.ant-form-item-control-wrapper
						line-height: 32px
						.ant-form-item-control
							line-height: 32px
							
							* + .ant-form-explain
								margin-top: 5px
							
					&.login-name
						text-align: left
						&.ant-form-item-with-help
							margin-bottom: 8px
							
					&.login-password
						text-align: left
						margin-bottom: 32px
						&.ant-form-item-with-help
							margin-bottom: 16px
							
					&.login-submit
						margin-bottom: 0
						
					.login-form-button
						position: relative 
						display: inline-block

						line-height: 1.2
						vertical-align: top

						padding: 9px 22px
						font-size: 14px
						
						height: auto
					
						background-color: #002147
						border-color: #002147
						color: #e3f0ff
						transition: background-color 0.2s linear, border-color 0.2s linear, color 0.2s linear
						
						&:hover,
						&:focus
							background-color: #0f3a6b
							border-color: #0f3a6b
							color: #ffffff
				
.dashboard
	position: relative 
	
	width: 100% 
	min-width: 320px
	
	height: 100% 
	min-height: 100%

	.main-layout.ant-layout
		position: relative 
		
		width: 100% 
		
		height: 100% 
		min-height: 100%
		
		padding-top: 60px
		
		background-color: #ebebeb
		
		.header.ant-layout-header
			position: fixed
			display: block
			z-index: 100
			top: 0
			left: 0
			right: 0
			height: 60px
			line-height: 60px
			
			padding: 0
			
			flex: none !important
			background: none
			background-color: #002147
			box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
			vertical-align: top
			
			.logo
				position: relative
				display: inline-block
				
				width: 86px
				height: 60px
				
				overflow: hidden
				
				background-color: #ff0e49
			
				.logo-img
					position: relative
					display: block
					
					margin-left: 23px
					
					width: 40px
					height: 60px
					
				a
					position: absolute
					display: block
					top: 0
					left: 0
					right: 0
					bottom: 0
					text-decoration: none
					
					&:hover,
					&:focus
						text-decoration: none
				
			
			.header-menu-item
				position: relative
				display: block
				
				float: right
				
				font-size: 22px
				line-height: 22px
				
				color: #e3f0ff
				
				padding: 19px
				
				transition: background-color 0.2s linear, color 0.2s linear
				
				&:hover,
				&:focus
					color: #ffffff
					background-color: #0f3a6b
					
				.header-menu-icon
					position: relative
					display: block
					
					width: 22px
					height: 22px
					
					vertical-align: top
		
		.sider-main.ant-layout-sider 
			position: relative 
			display: block
		
			z-index: 90		

			flex: none !important

			max-width: 86px !important
			min-width: 86px !important
			width: 86px !important
			
			background-color: #ffffff
			overflow: auto
			
			box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
			
						
			> .ant-layout-sider-children
				position: relative 
				display: block
				background-color: #ffffff
				height: auto
				padding-bottom: 16px
				-webkit-overflow-scrolling: touch

				.left-menu.ant-menu
					position: relative 
					display: block

			
					> .ant-menu-item
						position: relative 
						display: block
						
						margin: 0
						padding: 0
						
						line-height: 1em
						height: auto

						text-align: center
						
						border-bottom: 1px solid #ebebeb
						
						&.ant-menu-item-selected						
							.left-menu-link
								color: #ff0e49
								background-color: #f0f0f0
								
								&:hover,
								&:focus
									color: #ff0e49
									background-color: #f0f0f0
							
						.left-menu-link
							position: relative 
							display: block
							
							padding: 14px 4px 12px
							
							color: #4c637e
							
							background-color: #ffffff
							
							transition: background-color 0.2s linear, color 0.2s linear
							
							&:hover,
							&:focus
								color: #0f3a6b
								background-color: #f0f0f0
							
							&.active
							
							.left-menu-icon
								position: relative 
								display: block
								
								font-size: 26px
								line-height: 26px
								
								width: 26px
								height: 26px
								
								margin-right: auto
								margin-left: auto
								
							.left-menu-text.nav-text 
								position: relative 
								display: block
			
							* + .left-menu-text.nav-text 
								margin-top: 5px

		.content-main.ant-layout-content
			position: relative
			padding: 16px 16px 24px
			
			.dash-card.ant-card
				position: relative
				display: block
				
				.ant-card-head
					padding: 0 16px
					min-height: 40px
					background-color: #b2bcc7
					
					.ant-card-head-wrapper
						.ant-card-head-title
							padding: 8px 0
						
						
				.ant-card-body
					padding: 16px 16px 24px

